#project-modal-mobile {
  background: white;
  bottom: 0;
  display: none;
  flex-direction: column;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--modal-mobile-zIndex);
}

#project-modal-mobile > .modal-company {
  align-items: center;
  border-bottom: var(--border-grey-line);
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-l);
  margin: 0;
  padding: var(--spacing-size-b);
}

#project-modal-mobile > .modal-title {
  border-bottom: var(--border-grey-line);
  text-align: center;
}

#project-modal-mobile > .modal-title > h1 {
  font-size: var(--project-modal-mobile-title-size);
  margin: var(--spacing-size-b);
  text-align: center;
}

#project-modal-mobile > .modal-team {
  padding: 0 0 var(--project-modal-mobile-team-bottom-margin) 0;
  width: 100%;
}

#project-modal-mobile-menu {
  background: white;
  border-top: var(--border-grey-line);
  bottom: 0;
  display: flex;
  width: 100%;
  font-size: 50px;
  left: 0;
  position: fixed;
  right: 0;
}

#project-modal-mobile-menu > div {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: var(--spacing-size-a);
}

#project-modal-mobile-menu > div:nth-of-type(2) {
  border-bottom: 0;
  border-left: var(--border-grey-line);
  border-right: var(--border-grey-line);
  border-top: 0;
}

#project-modal-mobile-menu > div:nth-of-type(3) {
  border-bottom: 0;
  border-left: 0;
  border-right: var(--border-grey-line);
  border-top: 0;
}

#project-modal-mobile.modal-display-none {
  display: none;
}

#project-modal-mobile > .project-info {
  box-sizing: border-box;
  padding: 0 var(--spacing-size-b);
  width: 100%;
}

#project-modal-mobile > .project-info > .project-title {
  display: none;
}

#project-modal-mobile > .project-info > p,
#project-modal-mobile > .project-info > ul li {
  font-size: var(--project-modal-mobile-content-size);
}

/* ----------- Mobile Screens ----------- */
@media only screen and (max-width: 768px) {
  #project-modal-mobile {
    display: flex;
  }
}

/* ----------- Mobile Screens ----------- */
@media only screen and (max-width: 768px) {
  :root {
    --project-info: 250px;
  }
  #project-modal-mobile > .project-info {
    display: block;
  }

  #project-modal-mobile > #project-modal-mobile-menu > .modal-toggle-team {
    --font-size-modal-toggle-team: 35px;
    font-size: var(--font-size-modal-toggle-team);
  }
}
