#project-modal-mobile {
  background: white;
  bottom: 0;
  display: none;
  flex-direction: column;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--modal-zIndex);
}

#project-modal-mobile > .modal-title {
  border-bottom: var(--border-grey-line);
  text-align: center;
}

#project-modal-mobile > .modal-title > h1 {
  font-size: var(--project-modal-mobile-title-size);
  margin: var(--spacing-size-b);
  text-align: center;
}

#project-modal-mobile > .modal-team {
  padding: 0 0 var(--project-modal-mobile-team-bottom-margin) 0;
  width: 100%;
}

#project-modal-mobile-menu {
  background: white;
  border-top: var(--border-grey-line);
  bottom: 0;
  display: flex;
  width: 100%;
  font-size: 50px;
  left: 0;
  position: fixed;
  right: 0;
}

#project-modal-mobile-menu > div {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: var(--spacing-size-a);
}

#project-modal-mobile.modal-display-none {
  display: none;
}

#project-modal-mobile-toggle {
  align-items: center;
  background: green;
  border-radius: calc(75px / 2);
  bottom: 75px;
  box-shadow: 2px 2px 14px 5px rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  height: 75px;
  justify-content: center;
  position: fixed;
  right: 18px;
  text-align: center;
  width: 75px;
}

#project-modal-mobile > .project-info {
  box-sizing: border-box;
  padding: 0 var(--spacing-size-b);
  width: 100%;
}

#project-modal-mobile > .project-info > .project-title {
  display: none;
}

#project-modal-mobile > .project-info > p,
#project-modal-mobile > .project-info > ul li {
  font-size: var(--project-modal-mobile-content-size);
}

/* ----------- Mobile Screens ----------- */
@media only screen and (max-width: 768px) {
  #project-modal-mobile {
    display: flex;
  }
}

/* ----------- Mobile Screens ----------- */
@media only screen and (max-width: 768px) {
  :root {
    --project-info: 250px;
  }
  #project-modal-mobile > .project-info {
    display: block;
  }
}
