:root {
  --background-color-dark: #181b1e;
  --background-color-light: white;

  --color-info: blue;
  --color-success: green;
  --color-danger: red;
  --color-warning: orange;

  --font-family: Montserrat, tahoma, verdana, sans-serif;

  --modal-overlay-color: #7373739c;
  --modal-zIndex: 99;

  --nav-background-color: #171a1c;

  --spacing-size-a: 5px;
  --spacing-size-b: 10px;
  --spacing-size-c: 15px;
  --spacing-size-d: 20px;
  --spacing-size-e: 30px;

  --title-color: #d2f5ff;
  --title-hover-color: #5aa9bf;
}

/* ----------- Desktop Screens ----------- */
@media screen and (min-width: 1200px) {
  :root {
    --font-size-sm: 12px;
    --font-size-m: 17px;
    --font-size-l: 21px;
    --font-size-title: 36px;
    --section-title-size: 38px;
  }
}

/* ----------- Tablet Screens ----------- */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  :root {
    --font-size-sm: 10px;
    --font-size-m: 14px;
    --font-size-l: 19px;
    --font-size-title: 28px;
    --section-title-size: 32px;
  }
}

/* ----------- Mobile Screens ----------- */
@media only screen and (max-width: 768px) {
  :root {
    --font-size-sm: 10px;
    --font-size-m: 12px;
    --font-size-l: 17px;
    --font-size-title: 22px;
    --section-title-size: 23px;
  }
}
