:root {
  --nav-background-color: #171a1c;
  --background-color: #181b1e;

  --color-info: blue;
  --color-success: green;
  --color-danger: red;
  --color-warning: orange;

  --font-family: Montserrat, tahoma, verdana, sans-serif;

  --font-color: #d2f5ff;
  /* --font-color: white; */

  --font-size-sm: 12px;
  --font-size-m: 14px;
  --font-size-l: 17px;
  --font-size-xl: 21px;
  --font-size-title: 36px;

  --spacing-size-a: 5px;
  --spacing-size-b: 10px;
  --spacing-size-c: 15px;
  --spacing-size-d: 20px;
  --spacing-size-e: 30px;
}
