#projects {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#projects > h1 {
  font-size: var(--font-size-xl);
  text-align: center;
}

#projects > div {
  width: 100%;
}

#projects .project-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: var(--spacing-size-e) 0;
  width: 100%;
}

#projects .project-container > .project-info {
  padding: 0 var(--spacing-size-e);
  width: var(--project-info);
}

#projects .project-container > .project-info > .project-title > span {
  font-size: var(--font-size-sm);
}

#projects .project-container > .project-info > .project-title > span > a {
  color: var(--color-success);
  padding: 0 var(--spacing-size-a);
}

#projects .project-container > .project-images {
  box-sizing: border-box;
  cursor: pointer;
  height: 100%;
  width: var(--project-images-width);
}

/* ----------- Desktop Screens ----------- */
@media screen and (min-width: 1200px) {
  :root {
    --project-images-width: 450px;
    --project-info: 650px;
  }
  #projects .project-container > .title-on-mobile {
    display: none;
  }
}

/* ----------- Tablet Screens ----------- */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  :root {
    --project-images-width: 350px;
    --project-info: 450px;
  }
  #projects .project-container > .title-on-mobile {
    display: none;
  }
}

/* ----------- Mobile Screens ----------- */
@media only screen and (max-width: 768px) {
  :root {
    --project-images-width: 100%;
    --project-info: 250px;
  }
  #projects .project-container {
    flex-direction: column;
    margin: 0 0 var(--spacing-size-e) 0;
    padding: 0 var(--spacing-size-e);
  }
  #projects .project-container > .title-on-mobile {
    display: block;
    margin: 0 0 var(--spacing-size-a) 0;
    text-align: center;
  }
  #projects .project-container > .project-info {
    display: none;
  }
}
