#testimonials {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#testimonials > h1 {
  text-align: center;
}

#testimonials > .profile {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin: var(--spacing-size-e) 0;
  width: var(--profile-width);
}

#testimonials > .profile > picture > img {
  border-radius: calc(var(--image-size) / 2);
  height: var(--image-size);
  width: var(--image-size);
}

#testimonials > .profile > div {
  padding: var(--image-distance-from-text);
}

#testimonials > .profile > div > h1 {
  margin: 0;
}

#testimonials > .profile > div > p:first-of-type,
#testimonials > .profile > div > p:nth-of-type(2) {
  margin: var(--spacing-size-a) 0;
}

#testimonials > .profile > div > p:nth-of-type(2) {
  font-size: var(--font-size-sm);
}

/* ----------- Desktop Screens ----------- */
@media screen and (min-width: 1200px) {
  :root {
    --image-distance-from-text: 0 0 0 var(--spacing-size-e);
    --image-size: 180px;
    --profile-width: 60%;
  }
}

/* ----------- Tablet Screens ----------- */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  :root {
    --image-distance-from-text: 0 0 0 var(--spacing-size-d);
    --image-size: 120px;
    --profile-width: 80%;
  }
}

/* ----------- Mobile Screens ----------- */
@media only screen and (max-width: 768px) {
  :root {
    --image-distance-from-text: 0 0 0 var(--spacing-size-b);
    --image-size: 70px;
    --profile-width: 100%;
  }

  #testimonials {
    margin: 0 var(--spacing-size-b);
  }

  #testimonials > .profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin: 0 0 var(--spacing-size-b) 0;
    padding: var(--spacing-size-b);
    transition: 0.3s;
  }
}
