#project-modal {
  align-items: center;
  background-color: var(--modal-overlay-color);
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: var(--modal-padding);
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: var(--modal-zIndex);
}

#project-modal .modal-close-icon {
  color: white;
  cursor: pointer;
  font-size: var(--modal-close-icon-size);
  position: fixed;
  right: 10px;
  top: 10px;
}

#project-modal .modal-right-arrow {
  color: white;
  position: fixed;
  right: var(--modal-arrow-horizontal-position);
  top: var(--modal-arrow-top-position);
}

#project-modal .modal-left-arrow > svg,
#project-modal .modal-right-arrow > svg {
  cursor: pointer;
}

#project-modal .modal-left-arrow {
  color: white;
  position: fixed;
  left: var(--modal-arrow-horizontal-position);
  top: var(--modal-arrow-top-position);
}

#project-modal.modal-display-none {
  display: none;
}

#project-modal > .modal-container {
  background-color: var(--background-color-light);
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 90%;
}

#project-modal > .modal-container > .modal-image {
  display: flex;
  border-right: var(--border-grey-line);
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

#project-modal > .modal-container > .modal-image > picture {
  align-items: center;
  display: flex;
  flex: 1;
  height: 90%;
}

#project-modal > .modal-container > .modal-image > picture > img {
  display: block;
  margin: auto;
  max-height: 88%;
  max-width: 100%;
  object-fit: scale-down;
  padding: var(--spacing-size-a) 0;
}

#project-modal > .modal-container > .modal-image > .modal-title {
  border-bottom: var(--border-grey-line);
}

#project-modal > .modal-container > .modal-image > .modal-title > h1 {
  margin: 0;
  padding: var(--spacing-size-b);
}

/* ----------- Mobile Screens ----------- */
@media only screen and (max-width: 768px) {
  #project-modal {
    display: none;
  }
}
