nav {
  background-color: var(--nav-background-color);
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0 var(--spacing-size-e) 0 0;
  padding: 0;
}

nav ul li {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-size-b);
}

nav ul li a {
  color: white;
  text-decoration: none;
}
