#project-modal {
  align-items: center;
  background-color: var(--modal-overlay-color);
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: var(--modal-padding);
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: var(--modal-zIndex);
}

#project-modal .modal-close-icon {
  color: white;
  cursor: pointer;
  font-size: var(--modal-close-icon-size);
  position: fixed;
  right: 10px;
  top: 10px;
}

#project-modal .modal-right-arrow {
  color: white;
  position: fixed;
  right: var(--modal-arrow-horizontal-position);
  top: var(--modal-arrow-top-position);
}

#project-modal .modal-left-arrow > svg,
#project-modal .modal-right-arrow > svg {
  cursor: pointer;
}

#project-modal .modal-left-arrow {
  color: white;
  position: fixed;
  left: var(--modal-arrow-horizontal-position);
  top: var(--modal-arrow-top-position);
}

#project-modal.modal-display-none {
  display: none;
}

#project-modal > .modal-container {
  background-color: var(--background-color-light);
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 90%;
}

#project-modal > .modal-container > .modal-image {
  display: flex;
  border-right: var(--border-grey-line);
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}
#project-modal > .modal-container > .modal-image > picture {
  align-items: center;
  display: flex;
  flex: 1;
}

#project-modal > .modal-container > .modal-image > picture > img {
  display: block;
  margin: auto;
  max-height: 88%;
  max-width: 100%;
  object-fit: scale-down;
  padding: var(--spacing-size-a) 0;
}

#project-modal > .modal-container > .modal-image > .modal-title {
  border-bottom: var(--border-grey-line);
}

#project-modal > .modal-container > .modal-image > .modal-title > h1 {
  margin: 0;
  padding: var(--spacing-size-b);
}

#project-modal > .modal-container > .modal-team {
  overflow: auto;
  width: var(--modal-container-width);
}

#project-modal > .modal-container > .modal-team > .modal-member {
  align-items: center;
  border-bottom: var(--border-grey-line);
  display: flex;
  flex-direction: row;
  font-size: var(--modal-icon-size);
  padding: var(--spacing-size-b);
}
#project-modal > .modal-container > .modal-team > .modal-member > .modal-member-profile-icon,
#project-modal > .modal-container > .modal-team > .modal-member > .modal-member-profile-icon > picture {
  align-items: center;
  display: flex;
}

#project-modal > .modal-container > .modal-team > .modal-member > .modal-member-profile-icon > picture > img {
  border-radius: calc(var(--modal-member-image-size) / 2);
  width: var(--modal-member-image-size);
}

#project-modal > .modal-container > .modal-team > .modal-member > .modal-member-info {
  margin: 0 var(--spacing-size-b);
}

#project-modal > .modal-container > .modal-team > .modal-member > .modal-member-info > h1 {
  font-size: var(--modal-member-info-name-size);
}

#project-modal > .modal-container > .modal-team > .modal-member > .modal-member-info > p {
  font-size: var(--modal-member-info-title-size);
}

#project-modal > .modal-container > .modal-team > .modal-member h1,
#project-modal > .modal-container > .modal-team > .modal-member p:first-of-type {
  margin: 0;
  padding: 0;
}

#project-modal .linked-in-link {
  --linked-in-icon-distance: 2px;
  --linked-in-icon-wrapper-width: 90px;
  align-items: center;
  border: 1px solid var(--linked-in);
  border-radius: var(--linked-in-icon-distance);
  color: var(--linked-in);
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: var(--linked-in-icon-distance) 0 0 0;
  padding: 0 var(--linked-in-icon-distance);
  width: var(--linked-in-icon-wrapper-width);
}

#project-modal .modal-member-profile-icon {
  font-size: var(--linked-in-icon-wrapper-width);
}

/* ----------- Mobile Screens ----------- */
@media only screen and (max-width: 768px) {
  #project-modal {
    display: none;
  }
}
